<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>文本情感系统</title>
<meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layui.css')}}"  media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/code.css')}}"  media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/laydate/default/laydate.css')}}"  media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modules/layer/default/layer.css')}}"  media="all">
<style>
.layui-nav-tree{vertical-align: top;}
</style>
</head>

<div class="layui-layout layui-layout-admin">

	<div class="layui-header header" spring>
	  <div class="layui-fluid">
		<div class="layui-form component" lay-filter="LAY-site-header-component"></div>
		<ul class="layui-nav">
		  <li class="layui-nav-item ">
			<a href="index.html">文本情感分析系统</a> 
		  </li>
		</ul>
	  </div>
	</div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
		  
			<ul class="layui-nav layui-nav-tree">
			  
			  <li class="layui-nav-item layui-nav-itemed">
				<a class="javascript:;" href="javascript:;">情感分析</a>
				<dl class="layui-nav-child">
				  <dd class="">
					<a href="input.html">直接输入</a>
				  </dd>
				  <dd class="">
					<a href="uploadword.html">上传word</a>
				  </dd>
				  <dd class="">
				  	<a href="uploadtxt.html">上传txt</a>
				  </dd>
				</dl>
			  </li>
			  <li class="layui-nav-item" style="height: 50px; text-align: center"></li>
			</ul>
		</div>
	</div>
</div>
  
</html>
